.wrapper {
    padding: 20px 20px 5px 20px;
    position: relative;
}

.users {
    padding: 10px;
    height: 670px;
    overflow-y: auto;
    background:whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
}