@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.wrapper {
    width: 100%;
    display: flex;
    font-family: Montserrat, sans-serif;
}

.wrapper a {
    color: black;
    text-decoration: none;
}

.description {
    display: flex;
}

.img img {
    width: 100px;
    border-radius: 15px;
}

.description a:focus {
    outline-offset: 2px;
    outline-color: goldenrod;
    transition: .5s;
    outline-width: medium;
}

.info {
    padding-left: 20px;
}

.name {}

.status {
    padding-top: 5px;
}

.button {
    padding-top: 25px;
}

.button button {
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 30px;
    border: 2px rgba(255,171,15,0.8) solid;
    transition: 0.4s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.button button:hover {
    background: rgba(255,203,0,0.5);
}

.button button:active {
    background: rgba(255,203,0,0.79);
}

.button button:focus {
    outline-offset: 2px;
    outline-color: darkgoldenrod;
    transition: .5s;
    outline-width: medium;
}